
main {
  @media (min-height: 720px) {
    margin-bottom: 232px;
  }
}

footer {

  @media (min-height: 720px) {
    position: fixed;
    bottom: 0;
  }
  width: 100%;

  background-color: #222;
  padding-top: 30px;
  border-top: 4px solid #555;
  color: #ccc;
  p {
    color: #ccc;
  }

  a {
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  a:hover {
    color: #fff;
  }

  .footer-widget {
    margin-bottom: 25px;
    h4 {
      color: #eee;
      text-transform: uppercase;
      padding-bottom: 8px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      position: relative;
      .head-line {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 3px;
        background-color: #333;
        margin: 0;
      }
    }

  }

  ul.footer-nav {
    float: right;
    li, li:first-child {
      display: inline-block;
      float: left;
      margin-left: 15px;

      a {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;

      }
      a:hover {
        color: #fff;
      }
    }
    li:first-child {
      margin-left: 0;
    }
  }

  .social-widget {
    ul.social-icons {
      li {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 4px;

        a i {
          font-size: 1.4em;
          width: 36px;
          height: 36px;
          color: #fff;
          line-height: 36px;
          text-align: center;
          display: block;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -o-border-radius: 2px;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
        }

        a {
          color: #bbb;
        }
        a:hover {
          text-decoration: none;
        }

        a.facebook:hover i {
          background-color: #507CBE;
        }

        a.twitter:hover i {
          background-color: #63CDF1;
        }

        a.google:hover i {
          background-color: #F16261;
        }

        a.instgram:hover i {
          background-color: #4D4F54;
        }

        a.vk:hover i {
          background-color: #4785dd;
        }

        a.linkdin:hover i {
          background-color: #90CADD;
        }
      }
    }
  }

  .contact-widget {
    background: url(img/map.png) center bottom no-repeat;
    span {
      font-weight: 700;
    }

  }

  .mail-subscribe-widget {
    form {
      margin-top: 15px;
      margin-bottom: 20px;
      input[type="text"] {
        outline: none;
        color: #666;
        font-size: 12px;
        padding: 6px 12px;
        border: none;
        background: #fff;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        outline: none;
      }
    }
  }

  .back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;

    i {
      display: block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      color: #fff;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      text-align: center;
      background-color: #444;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }

  .copyright-section {
    padding: 15px 0;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255, 255, 255, .06);

    p {
      font-size: 11px;
      text-transform: uppercase;
    }

    ul {
      .footer-nav {
        float: right;

        li {
          display: inline-block;
          float: left;
          margin-left: 15px;

          a {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
          }

          a:hover {
            color: #fff;
          }
        }

        li:first-child {
          margin-left: 0;
        }
      }
    }
  }

}








