<div class="container">
    <div class="row footer-widgets">

        <!-- Start Subscribe & Social Links Widget -->
        <div class="col-md-4 col-xs-12">
            <div class="footer-widget social-widget">
                <h4>Follow Us<span class="head-line"></span></h4>
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="vk" href="#"><i class="fa fa-vk"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="footer-widget mail-subscribe-widget">
                <h4>Get in touch<span class="head-line"></span></h4>
                <p>Join our mailing list to stay up to date.</p>
                <form class="subscribe">
                    <input type="text" placeholder="play4dirty@gmail.com">
                    <input type="submit" class="btn-system" value="Send">
                </form>
            </div>
        </div>
        <!-- .col-md-3 -->
        <!-- End Subscribe & Social Links Widget -->

        <!-- Start Contact Widget -->
        <div class="col-md-3 col-xs-12">
            <div class="footer-widget contact-widget">
                <h4>Contact us:<span class="head-line"></span></h4>
                <ul>
                    <li><span>Email:</span> luvnails@gmail.com</li>
                    <li><span>Website:</span> <a>www.luvnails.com</a></li>
                </ul>
            </div>
        </div>
        <!-- .col-md-3 -->
        <!-- End Contact Widget -->

    </div>
    <!-- .row -->

    <!-- Start Copyright -->
    <div class="copyright-section">
        <div class="row">
            <div class="col-md-6">
                <p>© 2016 MaryNails - All Rights Reserved</p>
            </div>
            <!-- .col-md-6 -->
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="#">Sitemap</a>
                    </li>
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- .col-md-6 -->
        </div>
        <!-- .row -->
    </div>
    <!-- End Copyright -->

</div>