<div class="home" ng-init="init()">
    <div class="container">
        <div class="row">
            <div ng-repeat="item in model.widgetContents">
                <div data-home-widget="" data-model="item"></div>
            </div>

        </div>
    </div>
</div>