@import "../../components/app/variables";
.loading {
  position: relative;

  .loading-background {

    text-align: center;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    z-index: @z-level-5;

    a.loading-background-image {
      display: block;
      background-size: 100% 100%;
      background: url("img/three-dots.svg") no-repeat;
      position: absolute;
      top: 20%;
      bottom: 20%;
      right: 20%;
      left: 20%;
      background-size: 100% 100%;
    }
  }
}


