@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import "../../vendor/theme/font-awesome.min.css";
@import "../../vendor/theme/animate.css";
@import "../../vendor/theme/colors/red.css";
@import "../../commons/widget/homeWidget";
@import "../../commons/loader/loading";
@import "variables";



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media @tablet {
    width: @tablet-area;
  }

  @media @desktop {
    width: @desktop-area;
  }
}

main {
  margin-top: 80px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
  //background: url(img/patterns/1.png) fixed repeat;
}
strong, b {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}

a:hover {
  color: #444;
}

a, a:hover {
  text-decoration: none;
}

i {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0;
  color: #444;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
}

p {
  color: #666;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}

p strong {
  font-weight: 600;
}

.accent-color-bg {
  color: #fff;
}

.fittext {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 35px;
  color: rgba(0,0,0, 0.8);
  strong {
    font-weight: 700;
  }
}

.page-content p {
  margin-bottom: 15px;
}

.wite-text {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.image-text {
  margin-right: 10px;
}

a.main-button, input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.main-button:hover, input[type="submit"]:hover {
  background: #444;
  color: #fff;
}

a.main-button i {
  font-size: 1.2em;
}

input[type="submit"] {
  border: none;
}

.tooltip .tooltip-inner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

#content {
  padding: 60px 0;
}

#content.full-sections {
  padding: 0;
}

.section {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

  .repeat-bg {
    background-repeat: repeat;
    -webkit-background-size: auto !important;
    -moz-background-size: auto !important;
    -o-background-size: auto !important;
    background-size: auto !important;
  }
}

.bg-parallax {
  background-attachment: fixed;
}

.section-video {
  position: absolute;
  z-index: 33;
  left: 0;
  top: -100px;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;

  object {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
  img {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
  .section-video-content {
    z-index: 35;
    position: relative;
    opacity: 0.98;
  }
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 34;
  opacity: 0.7;
}

.light-section {
  color: #fff;
  .testimonials {
    color: #666;
  }
}

.light-section .testimonials .testimonial-content p {
  color: #c4c4c4;
}

#container {
  background-color: #fff;
}

.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boxed-page header {
  width: 1220px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999999999;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: rotatee 2.0s infinite linear;
  animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: bouncee 2.0s infinite ease-in-out;
  animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bouncee {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.blog-page, .blog-post-page {
  padding-top: 5px;
}

.blog-post-page .blog-post {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.blog-post-page ul.post-meta {
  margin-bottom: 12px;
}

.post-content h2 {
  font-weight: 500;
}

.post-bottom {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.post-tags-list {
  float: right;
  padding-top: 6px;
}

.post-tags-list a {
  display: inline-block;
  color: #666;
  font-size: 12px;
  padding: 2px 8px;
  background: #eee;
  margin-bottom: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.post-tags-list a:hover {
  color: #fff;
}

.post-share {
  float: left;
}

.post-share span {
  margin-right: 4px;
  font-size: 13px;
  color: #666;
}

.post-share a {
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.post-share a.facebook {
  background-color: #507CBE;
}

.post-share a.facebook:hover {
  background-color: #3E68A8;
}

.post-share a.twitter {
  background-color: #63CDF1;
}

.post-share a.twitter:hover {
  background-color: #36BFED;
}

.post-share a.gplus {
  background-color: #F16261;
}

.post-share a.gplus:hover {
  background-color: #EF4545;
}

.post-share a.linkedin {
  background-color: #90CADD;
}

.post-share a.linkedin:hover {
  background-color: #72BBD3;
}

.post-share a i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 1em;
}

.blog-post .author-info {
  display: block;
  margin-bottom: 10px;
}

.blog-post .author-info .author-image {
  float: left;
}

.blog-post .author-info .author-image img {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 4px solid #eee;
}

.blog-post .author-info .author-bio {
  padding-left: 85px;
}

.blog-post .author-info h4 {
  margin-bottom: 4px;
  font-weight: 500;
}

.blog-post .author-info p:last-child {
  margin: 0;
}

#comments .comments-list {
  padding: 0;
  margin: 0 0 35px 0;
}

#comments .comments-title {
  font-weight: 500;
  margin-bottom: 20px;
}

#comments .comments-list li .comment-box {
  padding: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  -o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
}

#comments .comments-list li ul {
  padding-left: 80px;
}

#comments .avatar {
  float: left;
}

#comments .avatar img {
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #e8e8e8;
}

#comments .comment-content {
  padding-left: 72px;
}

#comments .comment-content .comment-meta {
  margin-bottom: 5px;
}

.comment-content .comment-meta span:after {
  content: "-";
  margin: 0 5px;
  font-weight: 100;
  color: #666;
}

.comment-content .comment-meta span:last-child:after {
  content: "";
  margin: 0;
}

.comment-content .comment-meta .comment-by {
  font-weight: 600;
  color: #444;
}

.comment-content .comment-meta .comment-date {
  color: #666;
}

#respond .respond-title {
  font-weight: 500;
  margin-bottom: 15px;
}