@phone: ~"(max-width: 768px)";
@phone-area: 500px;

@tablet: ~"(min-width: 768px)";
@tablet-area: 750px;

@desktop: ~"(min-width: 1200px)";
@desktop-area: 1170px;

// Z-index levels

@z-level-1: 1;
@z-level-2: 2;
@z-level-3: 3;
@z-level-4: 4;
@z-level-5: 5;