@import "../../../commons/navigationMenu/mobileMenu";

header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  .fixed-header {
    opacity: 0.95;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  }

  .wpb-mobile-menu{
    display: none;
  }

  .navbar-toggle{
    //display: none;
  }
  .navbar {
    margin-bottom: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
  }

  .navbar-brand {
    position: relative;
    padding: 25px;
    height: 50px;
    margin: 0!important;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .navbar-default {

    .navbar-nav {
      margin-right: 10px!important;
      position: relative;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }

    .navbar-nav > li {
      margin-left: 6px;
    }

    .navbar-nav > li:first-child {
      margin-left: 0;
    }

    .navbar-nav > li > a {
      color: #999;
      display: block;
      font-size: 14px;
      font-weight: 300;
      padding: 28px 15px 28px 15px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }

    .navbar-nav > li > a.active, .navbar-nav > li:hover > a {
      border-bottom: 2px solid;
    }

    .navbar-nav > li > a i {
      margin: 0 -2px 0 -5px;
    }

    .navbar-nav > li > a:after {
      position: absolute;
      bottom: 0;
      content: '';
      left: 50%;
      display: block;
      height: 5px;
      width: 5px;
      opacity: 0;
      margin: 0 0 -3px -2px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .navbar-nav > li > a.active:after {
      opacity: 1;
    }

  }

}






