<div ng-controller="HeaderController" ng-init="init()">
    <a class="navbar-toggle" ng-click="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div ng-class="{show: local.menuOpened}" class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">LUV nails</a>
            </div>
            <div id="slidemenu">

                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ng-class="{active: (location.path() == '/home')}" ng-click="toggleMenu()" href="#/home">Home</a>
                    </li>
                    <li>
                        <a ng-class="{active: (location.path() == '/contacts')}" ng-click="toggleMenu()" href="#/contacts">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
