<div ng-init="init()">
    <div data-loading="" data-show="local.loader.map">
        <div data-google-map=""
             data-marker-text="Luv Nails Office"
             data-latitude="52.093640"
             data-longitude="23.699914"
             data-zoom="12"
             data-loader="local.loader.map"
             data-additional-text="The main office. Working from 9 am to 6 pm">
        </div>
    </div>

    <div class="container">
        <h2>
            CONTACTS HERE
        </h2>
        <a href="#/home">show home</a>
    </div>
</div>