<div class="home-widget col-md-6 col-xs-6">
    <a class="widget-main-link background widget-fade" style="background-image: url('{{::model.backgroundLink}}')" href="#">
        <h1>{{::model.title}}</h1>
    </a>
</div>