@import "../../components/app/variables";

.home-widget {
  padding: 1px;

  .background {
    height: 249px;
    background-size: cover;
    background-color: #b5734f;
  }

  .widget-fade {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: opacity;
  }

  a.widget-main-link {
    h1 {
      color: #fff;
      text-shadow: 1px 1px 2px black, 0 0 1em #5B5050;
    }
    display: block;
    @media @phone {
      padding: 59px 20px 10px;
    }

    @media @desktop, @tablet {
      padding: 129px 60px 20px;
    }
  }

  a.widget-main-link:hover {
    opacity: .5;
  }
}