@import "../../components/app/variables";

@media @phone {
  .navbar-default {
    height: 100%;
    width: 60%;
    margin-left: 40%;
    transition:0.2s linear all;
    transform: translateX(100%);
  }
  .navbar-default.show {
    transform: translateX(0);
  }

  .container {
    padding-right: 0!important;
  }

  #slidemenu .navbar-nav {
    margin-right: 0!important;
    > li {
      margin-left: 0!important;
    }
  }


  main {
    margin-top: 0!important;
  }

  header .navbar-toggle {
    cursor: pointer;
    transition:0.2s linear all;
    //position: fixed;
    z-index: 1100;
    display: inline-block;
    border: 2px solid #EA0808;
    border-radius: 0;
    background-color: #FFF;

    &:hover {
      background-color: #EA0808;
      .icon-bar {
        background-color: #FFFFFF;
      }
    }

    .icon-bar {
      background-color: EA0808;
    }
  }

}

